body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background-aluraflix.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

img {
    max-height: 250px;
}

#lista-filmes{
    display: flex;
    justify-content: center;
    gap: 50px;
}

#card-filme {
    background-color: #101926;
    padding: 10px 10px 0 10px;
    color: #fff;
}