body {
    font-family: "Roboto Mono", monospace;
    background-color: #101926;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
  }

  img {
    max-height: 250px;
  }

  #aulas{
    display: flex;
    justify-content: center;
    gap: 80px;
  }

  .card{
    width: 220px;
    background-color: #fff;
    border-radius: 20px;
  }

  .card h3{
    text-align: center;
  }

  .card li{
    margin: 10px 0;
    text-decoration: underline;
  }