  .container {
    text-align: center;
    padding: 20px;
  }

  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }

  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }

  .page-logo {
    width: 200px;
  }

  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  body>img {
    margin: 0 10px;
  }

  #navegation {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  li a {
    text-decoration: none;
    color: #fff;
    background-color: #d80000;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
  }

  li a:hover {
    transition: .2s;
    color: #d80000;
    background-color: #fff;
  }

  li a:not(:hover) {
    transition: .2s;
  }

  